<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Froggy Blog Reset Password</title>
    <style>

    </style>
</head>
<body>
    <input type="hidden" th:text="${name}">
    <div>
        <span>Hi [name],</span>
        <span>You recently requested to reset the password for your [customer portal] account. Click the button below to proceed.</span>
        <a th:href="${url}" >Reset Password</a>
        <span>If you did not request a password reset, please ignore this email or reply to let us know. This password reset link is only valid for the next 30 minutes.</span>
        <span> Thanks, the [customer portal] team</span>
    </div>
</body>
</html>
